.cmdbox{
    padding: 2vw;
    margin: 6vh 0;
    color: greenyellow;
    min-height: 80vh;
    border: 1px solid greenyellow;
}
.cmdEntered{
    word-wrap: break-word;
}

.inputBox,.cmdEntered{
    color:greenyellow;
    font-family: 'Consolas';
    min-height:3vh;
    height: auto;
    border:none;
    width:auto;
    font-size: 2.5vh;
}  


.inputBox{
    min-width:80%;
    overflow:scroll;
}

#Begin{
    color:greenyellow;
    font-family: 'Consolas';
    text-align: start;
    font-weight: bold;
    font-size: 2.5vh;
    flex-grow: 10;
}

.inputBox:focus{
    outline:none;
}

.inputBox::placeholder{
    color:greenyellow;
    font-family: 'Consolas';
    text-align: start;
    font-weight: bold;
    font-size: 2.5vh;
}
    
* {
    background-color:black;
}